@font-face {
   font-family: "StarJedi";
   src: url('fonts/starjedi.woff2') format('woff2'),
        url('fonts/starjedi.woff') format('woff'),
        url('fonts/starjedi.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}

* {
   margin: 0;
   padding: 0;
   font-family: 'Play', sans-serif;
   font-size: 1em;
}

.story-container {
   display: flex;
   margin: auto auto;
   width: 70%;
   height: 100%;
   justify-content: center;
   flex-flow: row wrap;
}
.story {
   display: flex;
   flex-direction: column;
   box-sizing: border-box;
   width: 200px;
   border: 1px solid gray;
   margin: 5px;
   text-align: center;
   cursor: pointer;
   min-height: 200px;
}
.story-notes {
   flex-grow: 1;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 15px;
}
.story > * {
   padding: 5px;
}
.story h1 {
   color: white;
   line-height: 30px;
   padding-bottom: 8px;
   font-size: 1.5em;
   font-family: "StarJedi";
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ea2803+0,ff6600+52,c72200+100 */
   background: rgb(234,40,3); /* Old browsers */
   background: -moz-linear-gradient(top,  rgba(234,40,3,1) 0%, rgba(255,102,0,1) 52%, rgba(199,34,0,1) 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  rgba(234,40,3,1) 0%,rgba(255,102,0,1) 52%,rgba(199,34,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  rgba(234,40,3,1) 0%,rgba(255,102,0,1) 52%,rgba(199,34,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2803', endColorstr='#c72200',GradientType=0 ); /* IE6-9 */
   text-shadow: 1px 1px 1px black;
}
.story div {
   font-size: .8em;
}
.story .description {
}
a {
   text-decoration: none;
   color: rgba(234,40,3,1);
}
a:hover {
   color: rgba(199,34,0,1);
}
.story:hover {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
ul {
   list-style-image: url("../img/rebellion.png");
   list-style-position: inside;
   padding: 0;
   margin: 0;
   width: 95%;
   text-align: center;
   font-size: .85em;
}
li {
   padding-left: 16px;
}

.done {
   background: #eee;
   color: black;
}
.done:before {
   padding-top: 10px;
   color: darkgreen;
   font-family: "Wingdings";
   content: "\00fc";
   speak: none;
   font-style: normal;
   font-weight: normal;
   font-variant: normal;
   text-transform: none;
   line-height: 1em;
   font-size: 2em;
}
a.done:before {
   font-size: .75em;
   margin-right: 3px;
}
li.done:before {
   font-size: .75em;
   font-family: "Wingdings";
   content: "\00fc";
}
.done h1 {
   background: none;
   text-shadow: none;
   color: black;
}
.done ul,
.done div {
   display: none;
}

header {
   padding: 10px;
   display: flex;
   font-size: 3em;
   margin: auto;
   flex-direction: row;
   justify-content: space-between;
}
header img {
   width: 125px;
   height: 125px;
}
header div {
   font-family: "StarJedi";
   min-width: 33%;
   text-align: center;
   vertical-align: middle;
   text-shadow: 2px 2px 2px rgba(234,40,3,1);
}
footer {
   font-family: "StarJedi";
   color: lightgray;
   text-align: center;
   font-size: 2em;
   text-shadow: 1px 1px 1px black;
   position: fixed;
   bottom: 0;
   left: 0;
   right: 0;
}

.img-yoda {
   background: url("../img/yoda.jpg") no-repeat;
   position: fixed;
   bottom: 0;
   right: 0;
   height: 159px;
   width: 230px;
   padding: 0;
   margin: 0;
}

.complete {
   width: 120px;
   height: 54px;
   padding: 10px;
   color: white;
   background: black;
   position: fixed;
   right: 256px;
   bottom: 100px;
   -moz-border-radius:    10px;
   -webkit-border-radius: 10px;
   border-radius:         10px;
   font-family: "StarJedi";
   display: none;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.complete:after {
   content:"";
   position: absolute;
   left: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-left: 26px solid black;
   border-bottom: 13px solid transparent;
}
